<content-intro title="manageProfile_Title" subTitle="manageProfile_SubTitle" description="manageProfile_Description">
</content-intro>
<div class="top-content-button">
  <button (click)="changePassword()" class="button button-create">
    {{ 'manageProfile_ChangePassword' | translate }}
  </button>
</div>
<div class="top-content-button">
  <button (click)="deleteUser()" class="button button-create">
    {{ 'manageProfile_DeleteUser' | translate }}
  </button>
</div>
<form [formGroup]="profileForm">
  <div class="row">
    <div class="col-md-10">
      <div class="col-md-3 float-left">
        <div class="form-group form-group-stacked">
          <label class="form-label" for="firstName">{{ 'manageProfile_FirstName' | translate }}</label>
          <input type="text" id="firstName" class="form-control input-field" formControlName="firstName">
          <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
            First name is required.
          </div>
        </div>
      </div>
      <div class="col-md-3 float-left">
        <div class="form-group form-group-stacked">
          <label class="form-label" for="lastName">{{ 'manageProfile_LastName' | translate }}</label>
          <input type="text" id="lastName" class="form-control input-field" formControlName="lastName">
          <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
            Last name is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="col-md-3 float-left">
        <div class="form-group form-group-stacked">
          <label class="form-label" for="email">{{ 'manageProfile_Email' | translate }}</label>
          <input type="text" id="email" class="form-control input-field" formControlName="email">
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
            E-mail is required.
          </div>
        </div>
      </div>
      <div class="col-md-3 float-left">
        <div class="form-group form-group-stacked">
          <label class="form-label" for="phoneNumber">{{ 'manageProfile_Phone' | translate }}</label>
          <input type="text" id="phoneNumber" class="form-control input-field" formControlName="phoneNumber">
          <div class="alert alert-danger" *ngIf="phoneNumber.touched && phoneNumber.invalid">
            Phone number is required.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="col-md-3 float-left">
        <div class="form-group form-group-stacked">
          <label class="form-label" for="language">{{ 'manageProfile_Language' | translate }}</label>
          <select id="language" class="form-control input-field" formControlName="language">
            <option *ngFor="let language of languages" [ngValue]="language">{{ language.name }}</option>
          </select>
          <div class="alert alert-danger" *ngIf="language.touched && language.invalid">
            Language is required.
          </div>
        </div>
      </div>
      <div class="col-md-3 float-left">
        <div class="form-group form-group-stacked">
          <label class="form-label" for="role">{{ 'manageProfile_Role' | translate }}</label>
          <input type="text" id="role" class="form-control input-field" readonly="readonly" formControlName="role">
          <div class="alert alert-danger" *ngIf="role.touched && role.invalid">
            Role is required.
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="bottom-content-button">
  <button (click)="updateProfile()" class="button button-save">{{ 'manageProfile_Save' | translate }}</button>
  <button (click)="cancel()" class="button button-cancel">{{ 'manageProfile_Cancel' | translate }}</button>
</div>